[Desktop Entry]
Name=Dashboard
Comment=Arctos Dashboard controlling windows, applications and activities
Icon=dashboard-show

X-Plasma-API=declarativescript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=1024,768

X-KDE-PluginInfo-Author=Ionut Colceriu
X-KDE-PluginInfo-Email=contact@ghinda.net
X-KDE-PluginInfo-Name=arctosdashboard
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script,Plasma/Applet
Type=Service